@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Quintessential&family=Roboto+Serif:wght@500&display=swap');

:root {
    --red: rgb(255, 10, 0);
    --lightRed: rgb(245, 149, 146);
    --white: white;
    --black: #000000;
    --grey: rgb(150, 150, 150);
  }

*{
    box-sizing: border-box;
}


body{
    margin-left: 10px;
    margin-right: 10px;
}


p{
    font-family: 'League Spartan', sans-serif;
    font-size: 1em;
}

a{
    font-family: 'League Spartan', sans-serif;
    font-size: 1.3em;
    color: var(--black);
    text-align: center;
}

ul, ol{
    list-style-type: none;
}

hr{
    border-top: 3px solid var(--grey);
}

  
/*NAVIGATION*/
nav>img{
    width: 103px;
    height: 200px;
    position: absolute;
    object-fit: cover;
    flex: 1 1 10px;
}

nav>ul{
    display: flex;
    margin: 0 auto;
    padding: 0;
    row-gap: 10px;
    flex-wrap: wrap;
    justify-items: center;
    margin-left: 100px;
}

nav>ul li{
    width: 125px;
    display: flex;
    flex: 1 1 50px;
    padding: 10px;
    justify-content: center;
}

nav>ul li a{
    border: 3px solid var(--black);
    padding: 10px;
    border-radius: 10%;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

nav>ul li a:hover{
    background-color: var(--red);
    transform: scale(1.2);
}

nav>ul li a:active{
    background-color: var(--red);
    transform: scale(1.8);
}

/*road map*/
main>ol{
    padding: 0;
    margin: 0 auto;
    width: 80vw;
    height: 30vh;
}

main>ol>li{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--grey);
    border: 3px solid var(--black);
    border-radius: 50px;
    margin-top: 25px;
}

main>ol>li:hover{
    background-color: var(--red);
    border-radius: 50px;
}

main>ol>li h2{
    font-family: 'League Spartan', sans-serif;
    font-size: 5em;
    text-align: left;
    padding-left: 20px;
    margin: 0 auto;
    color: var(--white);
}

main>ol>li h3{
    font-family: 'League Spartan', sans-serif;
    font-size:  calc(50vw/ 6);
    padding-left: 20px;
    margin: 0 auto;
    margin-left: 80px;
    color: var(--white);
    text-align: center;
    margin-top: 10px;
}

main>ol>li>div{
    margin-left: 75px;
    height: 29.5vh;
    width: 3px;
    background-color: #000000;
    position: absolute;
}
