@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Quintessential&family=Roboto+Serif:wght@500&display=swap');

:root {
    --red: rgb(255, 10, 0);
    --lightRed: rgb(245, 149, 146);
    --white: white;
    --black: #000000;
    --grey: rgb(150, 150, 150);
  }

*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}


body{
    margin-left: 250px;
    margin-right: 250px;
}


p{
    font-family: 'League Spartan', sans-serif;
    font-size: 1em;
}

a{
    font-family: 'League Spartan', sans-serif;
    font-size: 2em;
    color: var(--black);
    text-align: center;
}

ul, ol{
    list-style-type: none;
}

hr{
    border-top: 3px solid var(--grey);
    width: 100%;
}

  
/*NAVIGATION*/
nav>img{
    width: 103px;
    height: 200px;
    position: absolute;
    object-fit: cover;
    flex: 1 1 10px;
    z-index: 10;
}

nav>ul>li>button{
    width: 100px;
    height: 50px;
    object-fit: cover;
    flex: 1 1 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--black);
    border-radius: 50px;
    background-color: var(--red);
    color: var(--white);

    font-family: 'League Spartan', sans-serif;
    font-size: 1em;
    font-weight: 700;

    transition: all .2s ease-in-out;
}

nav>ul>li>button:hover{
    background-color: rgb(206, 12, 6);
}

nav>ul>li>button:active{
    background-color: rgb(206, 12, 6);
    transform: scale(1.2);
}

nav>ul{
    display: flex;
    row-gap: 10px;
    flex-wrap: wrap;
    justify-items: center;
    margin-left: 100px;
}

nav>ul li{
    width: 200px;
    display: flex;
    flex: 1 1 50px;
    padding: 10px;
    justify-content: center;
    margin-top: 10px;

}

nav>ul li a{
    border: 3px solid var(--black);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

nav>ul li a:hover{
    background-color: var(--red);
    transform: scale(1.2);
}

nav>ul li a:active{
    background-color: var(--red);
    transform: scale(1.8);
}

/*ROAD MAP*/
main>ol{
    width: 100%;
    height: 30vh;
}

main>ol>li{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--white);
    /* border: 3px solid var(--black); */
    box-shadow: 0px 0px 6px #a5a5a5;
    border-radius: 50px;
    margin-top: 25px;
}

main>ol>li h2{
    font-family: 'League Spartan', sans-serif;
    font-size: 5em;
    text-align: left;
    padding-left: 31px;
    color: white;
    position: absolute;
    height:100%;
    display: flex;
    align-items: center;
    z-index: 2;
    justify-content: center;
}

main>ol>li h3{
    font-family: 'League Spartan', sans-serif;
    font-size:  5em;
    padding-left: 20px;
    color: var(--black);
    text-align: center;
    margin-top: 10px;
    position: absolute;
    width: 100%;
    flex: 1 1 100%;
}

main>ol>li>div{
    margin-left: 0px;
    height: 30vh;
    border-radius: 50px 0px 0px 50px;
    width: 93px;
    left: -1px;
    top: 0px;
    z-index: 1;
    background-color: #000000;
    position: absolute;
    background-color: red;
}

main>ol>li>ul{
    height: 100%;
    display: flex;
    row-gap: 10px;
    flex-wrap: wrap;
    justify-items: center;
    margin-left: 82px;
    /* top: 100%; */
    align-content: flex-end;
    margin-top: 75px;
    Flex: 1 1 50px;
    /* top: 10%; */
}

main>ol>li>ul>li{
    padding: 10px;
    text-decoration: none;
    transition: all .2s ease-in-out;
    /* margin-bottom: 50px; */
}

main>ol>li>ul>a{
    font-size: 1.5em;
}

main>ol>li>ul>li:hover{
    background-color: var(--red);
    transform: scale(1.1);
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 1100px) {
    body {
      margin-left: 50px;
      margin-right: 50px;;
    }
  }

  @media only screen and (max-width: 550px) {
    nav>ul{
        margin-left: 0px;
        justify-content:flex-start;
    }

    nav>ul li{
        flex: 1 1 500px;
        padding: 0px;
        margin-top: 10px;
        margin-left: 0;
        margin-right: 75px;
        justify-content:flex-start;
    }

    a{
        width: 100%;
        font-size: 1.3em;
        margin: 0;
    }

    nav>img{
        width: 103px;
        height: 200px;
        position: absolute;
        object-fit: cover;
        flex: 1 1 10px;
        right:0;
    }

    hr{
        border-top: 3px solid var(--grey);
        width: 100%;
        margin-right: 75px;
    }

    main>ol>li h3{
        font-size: 3em;
    }

    main>ol>li>div{
        margin-left: 50px;
    }
  }

  @media only screen and (max-width: 400px) {
    main>ol>li h3{
        font-size: 1.5em;
    }
  }

